name: Build + deploy
on:
  push:
    branches:
      - master
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Install and Build
        run: yarn && yarn build
        env:
            VITE_G_CLIENTID: ${{ secrets.VITE_G_CLIENTID }}
            VITE_G_APIKEY: ${{ secrets.VITE_G_APIKEY }}

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4.2.2
        with:
          branch: gh-pages
          folder: dist
